<h1>Listing groupings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groupings.each do |grouping| %>
      <tr>
        <td><%= grouping.name %></td>
        <td><%= link_to 'Show', grouping %></td>
        <td><%= link_to 'Edit', edit_grouping_path(grouping) %></td>
        <td><%= link_to 'Destroy', grouping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grouping', new_grouping_path %>
