<div id="grouping" data-grouping-id="<%= @grouping.id %>">
  <p id="notice"><%= notice %></p>
  <h1 class="page-header"><%= @grouping.name %></h1>
  <div class="row">
    <div class="col-md-12">
      <h4 class="form-search-heading">Contribution Search</h4>
      <form id="grouping-contrib-search" class="form-search form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-4">
            <select class="form-control contrib-search-type">
              <option value="contributor_name">Contributor Name</option>
              <option value="contributor_address">Contributor Address</option>
              <option value="candidate_name">Candidate Name</option>
              <option value="office">Candidate Office</option>
              <option value="election_period">Election Period</option>
            </select>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control contrib-search-text" placeholder="Enter search token" required autofocus>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-default search-attr-minus"><span class="glyphicon glyphicon-minus"></span></button>
            <button type="button" class="btn btn-default search-attr-plus"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
        <button id="contrib-search-button" class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div>
  </div>

  <h2 class="sub-header">Search Results</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Match?</th>
          <th>Candidate</th>
          <th>Office</th>
          <th>Contributor</th>
          <th>Contributor Address</th>
          <th>$</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody id="search-result-body">
      </tbody>
    </table>
  </div>

  <h2 class="sub-header">Saved Matches</h2>
  <div class="table-responsive">
    <table class="table table-striped" id="saved-matches">
      <thead>
        <tr>
          <th></th>
          <th>Search Token</th>
          <th>Candidate</th>
          <th>Office</th>
          <th>Contributor</th>
          <th>Contributor Address</th>
          <th>$</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "match", collection: @matches, as: :match %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Edit', edit_grouping_path(@grouping) %> |
  <%= link_to 'Back', groupings_path %>
</div>
