<div id="grouping">
  <p id="notice"><%= notice %></p>
  <h1 class="page-header"><%= @grouping.name %></h1>
  <div class="row">
    <div class="col-md-12">
      <h4 class="form-search-heading">Contribution Search</h4>
      <form class="form-search" role="form">
        <input type="text" class="form-control" placeholder="Start Typin'..." required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>
    </div>
  </div>

  <h2 class="sub-header">Matches</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Search Token</th>
          <th>Candidate</th>
          <th>Office</th>
          <th>Contributor</th>
          <th>Contributor Address</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "match", collection: @matches, as: :match %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Edit', edit_grouping_path(@grouping) %> |
  <%= link_to 'Back', groupings_path %>
</div>
